*{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

html, body
{
    background-color: #d5d5d5;
}

.mainContainer
{
    display: grid;
    grid-template-rows: 15% 65% 20%;
    height: 100%;
    width: 100%;
}
.pgTitle {
    text-align: center;
}
.Header{
background-color: white;
}
.main{
    /*background-color: blue;*/
}
.footer{
    background-color: white;
}